body {
    font-family: 'Roboto';
    font-size: 16px;
    background-color: #F5F5F5;
}

#webtitle {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

#introduction {
    text-align: left;
    line-height: 1.5;
    width: 700px;
    margin: 0 auto;
}

#footer {
    text-align: center;
    font-size: 14px;
}

a:link {
    text-decoration: none;
    color: #696969 ;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: black;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.hearts {
    color: #FF0000;
}
